<div id="map" leaflet [leafletOptions]="options">
  <div *ngFor="let l of slices; let i = index">
    <div *ngIf="currentSliceIndex === i" [leafletLayer]="l"></div>
  </div>
</div>
<mat-toolbar *ngIf="isWidescreen$ | async">
  <mat-slider
    min="0"
    [max]="sliderMax"
    step="1"
    [value]="sliderValue"
    (input)="onSlide($event)"
  ></mat-slider>
  <div id="right-text">{{ displayedTime ? displayedTime : 'Loading...' }}</div>
</mat-toolbar>
<mat-toolbar *ngIf="!(isWidescreen$ | async)">
  <mat-toolbar-row>
    <div>{{ displayedTime ? displayedTime : 'Loading...' }}</div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-slider
      min="0"
      [max]="sliderMax"
      step="1"
      [value]="sliderValue"
      (input)="onSlide($event)"
    ></mat-slider>
  </mat-toolbar-row>
</mat-toolbar>
